<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214351126075-9ino6p7si8omon991q17e39f6fe1jg1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214351126075-9ino6p7si8omon991q17e39f6fe1jg1g</string>
	<key>API_KEY</key>
	<string>AIzaSyBW-qd_UK3MiKOLU6l3EqOnLUk7IxCncxI</string>
	<key>GCM_SENDER_ID</key>
	<string>214351126075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pakdekora.notification.notifFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-fcm-71ad3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fcm-71ad3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214351126075:ios:bb178fa98398343bc6861e</string>
</dict>
</plist>